{% extends "public_base.njk" %}
{% block titulo %}Inicio | Peliculas{% endblock %}
{% block contenido %}

<div class="container">
    {% if(error) %}
        <div class="row">
            <p>{{error}}</p>
        </div>
    {% endif %}

{% if(peliculas.length >= 0) %}
    <a href="/pelicules/nova"><button type="button" class="btn btn-secondary">Inserir Nova</button></a>
    <div class="row">
        <table class="tablaPeli" width="100%">
            <tr class="encabezado">
                <td><b>Titol</b></td>
                <td><b>Editar</b></td>
                <td><b>Borrar</b></td>
            </tr>
            {% for pelicula in peliculas %}
                <tr>
                    <td><a href="/pelicula/{{pelicula.id}}">{{pelicula.titol}}</a></td>
                    <td><a href="/pelicules/editar/{{pelicula.id}}"><button type="button" class="btn btn-primary">Editar</button></a></td>
                    <td>
                        <form action="/pelicules/{{pelicula.id}}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btn btn-danger">
                        Eliminar
                        </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
</div>

{% endblock %}